@font-face {
    font-family: f1;
    src: url(f1.ttf);
}

#b1{
    font-family: f1;
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0 auto;
    padding: 20px 30px;
    font-size: 32px;
    background-color: rgb(255, 0, 174);
    color:white;
    border:none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

#b1:hover{
    background-color: rgb(251, 255, 0);
    color:black;

}

#head{
    color: aliceblue;
    display: inline-block;
}

#score{
    color: aliceblue;
}

body{
    font-family: f1;
    text-align: center;
    background: url(bg1.png);
    background-size: cover;
}

#surface{
    width: 540px;
    height: 540px;
    background-color: white;

    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;

    background: url(bg2.png);
    background-size: cover;
    border: 3px solid aqua;
    border-radius: 25px;
}

#surface div{
    width: 180px;
    height: 180px;
    background-image: url(bg3s.png);
    background-size: cover;
}