@font-face {
    font-family: f1;
    src: url(f1.ttf);
}

#head{
    color: aliceblue;
    display: inline-block;
}

#score{
    color: aliceblue;
}

body{
    font-family: f1;
    text-align: center;
    background: url(bg1.png);
    background-size: cover;
}

#surface{
    width: 540px;
    height: 540px;
    background-color: white;

    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;

    background: url(bg2.png);
    background-size: cover;
    border: 3px solid aqua;
    border-radius: 25px;
}

#surface div{
    width: 180px;
    height: 180px;
    background-image: url(bg3s.png);
    background-size: cover;
}
